# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 592e3eb58670726da2842b2cd021b2f51a882e304aee48e8d215435790d034f048d2716ef0c97bd514c31a77a30f322b2f3ca2460f56317b343f4b7486640934

test:
  secret_key_base: 0e8d4644dd5b482d4b2946276d65455590bd645fe35cd311fef58e7ef1c18901c6837cfe61e2f516556c68f49a7baa4c03126a4cb03484001211cd3faa1abd26

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
